bin/

*.prefs

112/Expression Evaluation/test
*.out
comp-arch/lab-5/zdb5-lab5-code.zip

cs214/**/*.o
*.out
.vscode

cs214/Asst1.tar.gz
cs214/Asst2/test.txt
cs214/Asst2/bunchastuff.txt
cs214/Asst2/10a.txt
cs214/Asst2/comp_proc
cs214/Asst2/comp_proc.bin
*.test
.DS_Store

**/env/**

rcv/final/Images/**
rcv/final/catsndogs/**
rcv/final/bundle/**
rcv/final/**/catsndogs/*.jpg
rcv/final/ekfmonoslam/**
rcv/final/__pycache__/utils.cpython-35.pyc
